<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
		<div class="Column">
                    <div class="col-md-3 col-sm-6">
                         <blockquote class="embedly-card"><h4><a href="https://medium.com/@xlab.contact/an-ugly-truth-public-perception-about-climate-change-is-underwhelming-ebc2a1758907">An ugly truth. Public perception about climate change is underwhelming</a></h4><p>People struggle in understanding about climate change. Why? Short answer: Depend on where you are.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
                    </div>
		</div>

		<div class="Column">
                    <div class="col-md-3 col-sm-6">
                         <blockquote class="embedly-card"><h4><a href="https://medium.com/@xlab.contact/why-do-i-care-about-climate-change-4a31c608ffd1">Why do I care about Climate Change?</a></h4><p>A couple weeks ago there was a climate strike of students led by a 16 year-old activist named Greta Thunberg at the United Climate Action Summit. There was 66 countries, 93 companies and more than 100 cities to join this event.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
                    </div>
		</div>

		<div class="Column">
                    <div class="col-md-3 col-sm-6">
                         <blockquote class="embedly-card"><h4><a href="https://medium.com/@xlab.contact/2050s-when-atlantis-becomes-real-899d0b3854d8">Only 30 years to fight against climate change.</a></h4><p>By 2050, not 2100, global sea level is going to rise up to 2 meters.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
                    <div>
                </div>

              </div>
        </div>
    </aside>
