<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Raise awareness. Take actions.</h2>
                    <h3 class="section-subheading text-muted">Build and grow a community interested in how climate change affects our personal health by providing a measurement tool.
</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
			<img src="img/service/protection.png" class="img-responsive img-circle" alt="">
		    </span>
                    <h4 class="service-heading">Protection</h4>
                    <p class="text-muted">WHO reports that solar radiation is considered as the main cause of skin cancer such as melanoma. The most vulnerable group are descendants of white Caucasians and their descendants, especially people living in high attitude with fair skin.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
			<img src="img/service/assessment.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h4 class="service-heading">Risk Assessment</h4>
                    <p class="text-muted">Provide a reliable and fast measurement tool to reduce a cost of premium insurance, hence offer an affordable financial protection for a majority of people, especially in a vulnerable group with a low and average income.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
			    <img src="img/service/prevention.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h4 class="service-heading">Prevention</h4>
                    <p class="text-muted">Communicate with public audience by a practical and empirical evidence related to daily life, then evoke more consciousness about prevention and green behaviours towards climate change.</p>
                </div>
            </div>
        </div>
    </section>
